.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.course-card {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-icon-wrapper {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
}

.course-icon {
    color: white;
    font-size: 1.8rem;
}

.course-card h4 {
    color: #264653;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.course-card p {
    color: #666;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

.play-now-btn {
    background-color: #2a9d8f;
    color: white;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 25px;
    font-weight: 500;
    transition: background-color 0.3s;
    cursor: pointer;
}

.play-now-btn:hover {
    background-color: #238578;
}

.see-more-container {
    text-align: center;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .courses-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media (max-width: 430px) {
    .explore-topics-section h2{
        font-size: 1.5rem;
    }
}